## Data Preprocessing

### Categorical Variables and Encoding

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv('./data/clean_startup_success_dataset.csv')

In [18]:
df.head()

,name,country,year,city,main_category,funding_rounds,funding_filled,first_funding_at,last_funding_at,status,status_class,fail,operating,success
0,#fame,IND,2015,Mumbai,Media,1,10000000,2015-01-05,2015-01-05,operating,operating,False,True,False
1,:Qounter,USA,2014,Delaware City,Application Platforms,2,700000,2014-03-01,2014-10-14,operating,operating,False,True,False
2,"(THE) ONE of THEM,Inc.",GBR,2014,NaN,Apps,1,3406878,2014-01-30,2014-01-30,operating,operating,False,True,False
3,0-6.com,CHN,2007,Beijing,Curated Web,1,2000000,2008-03-19,2008-03-19,operating,operating,False,True,False
4,004 Technologies,USA,2010,Champaign,Software,1,10070591,2014-07-24,2014-07-24,operating,operating,False,True,False

so now we have anaylized the data & cleaned it. Now we will preprocess the data & train the model.

In [19]:
df["first_funding_at"] = pd.to_datetime(df["first_funding_at"], errors='coerce')
df["last_funding_at"] = pd.to_datetime(df["last_funding_at"], errors='coerce')

Let's also include the new feature time gap which is the difference between last funding date and first funding date.

In [20]:
df['funding_duration_days'] = (df['last_funding_at'] - df['first_funding_at']).dt.days
df['funding_duration_days']

0          0.0
1        227.0
2          0.0
3          0.0
4          0.0
         ...
64852      0.0
64853    851.0
64854      0.0
64855      0.0
64856      0.0
Name: funding_duration_days, Length: 64857, dtype: float64

In [21]:
df["funding_year"] = df["first_funding_at"].dt.year
df["funding_month"] = df["first_funding_at"].dt.month
df["funding_dayofweek"] = df["first_funding_at"].dt.dayofweek

In [22]:
df.head()

,name,country,year,city,main_category,funding_rounds,funding_filled,first_funding_at,last_funding_at,status,status_class,fail,operating,success,funding_duration_days,funding_year,funding_month,funding_dayofweek
0,#fame,IND,2015,Mumbai,Media,1,10000000,2015-01-05,2015-01-05,operating,operating,False,True,False,0.0,2015.0,1.0,0.0
1,:Qounter,USA,2014,Delaware City,Application Platforms,2,700000,2014-03-01,2014-10-14,operating,operating,False,True,False,227.0,2014.0,3.0,5.0
2,"(THE) ONE of THEM,Inc.",GBR,2014,NaN,Apps,1,3406878,2014-01-30,2014-01-30,operating,operating,False,True,False,0.0,2014.0,1.0,3.0
3,0-6.com,CHN,2007,Beijing,Curated Web,1,2000000,2008-03-19,2008-03-19,operating,operating,False,True,False,0.0,2008.0,3.0,2.0
4,004 Technologies,USA,2010,Champaign,Software,1,10070591,2014-07-24,2014-07-24,operating,operating,False,True,False,0.0,2014.0,7.0,3.0

In [23]:
df['country'].unique().shape

(135,)

* now that we have seen that we have categorical variables in our dataset, we will encode them using most suitable encoding techniques.

For Country column, we will use Frequency Encoding, because it can tell the model how often a particular country appears in the dataset, which can be useful information for the model to learn from, and also it can tell the model about relative success of startups from different countries.

In [26]:
df["country_freq"] = df["country"].map(df["country"].value_counts())

In [25]:
df['city'].unique()

array(['Mumbai', 'Delaware City', nan, ..., 'Zwolle', 'Middlefield',
       'Damansara New Village'], shape=(4963,), dtype=object)

Here we can see that country is also a categorical variable with many unique values. so we should use Frequency Encoding for this column.

In [27]:
df['city_freq'] = df['city'].map(df['city'].value_counts())

In [29]:
df.drop(columns=["first_funding_at", "last_funding_at"], inplace=True)

In [ ]:
grgrgssssssssss